.App {
  margin: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-progress-bg {
  height: 28px !important;
}

.progress-class {
  margin-bottom: 1.5rem;
}

.anticon {
  display: none;
}